.testimonials{
padding-top: 230px;
padding-left: 126px;
padding-bottom: 10px;
.carousel-indicators{
display: flex;
justify-content: start;
padding-left: 11px;
margin-bottom: -15px;
}
}
.quote{
    left: 9.21%;
right: 49.12%;
top: 56.64%;
bottom: 24.61%;
font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 35px;
line-height: 48px;
color: #000000;
margin-bottom: 25px;
}
.name{
    left: 9.21%;
right: 78%;
top: 82.68%;
bottom: 14.06%;
font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
color: #000000;
margin-bottom: 6px;
}
.carousel-indicators {
    padding: 20px;
}
.plane{
    margin-bottom: 20px;
}