.registration-form-container {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 68px 65px 31px 65px;
  margin-top: 60px;
  margin-right: 83px;
  background: #ffffff;
  box-shadow: 0px 24px 34px rgba(0, 0, 0, 0.04);
  border-radius: 10px;

  .heading {
    font-size: 24px;
    font-weight: 600;
  }

  .p-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 13px;
    color: #666666;
    margin-bottom: 27px;
    margin-top: 12px;
    font-weight: 400;
  }
  .registration-form {
    width: 100%;
    .form-floating {
      > .form-control-plaintext ~ label,
      > .form-control:focus ~ label,
      > .form-control:not(:placeholder-shown) ~ label,
      > .form-select ~ label {
        transform: scale(0.85) translateY(-0.7rem) translateX(0.9rem);
        padding: 0;
        background: #fff;
        width: auto;
        height: auto;
        opacity: 1;
      }
      .form-control {
        padding: 15px 17px;
        background: #fafafa;
        border: 1px solid #d8d8d8;
        border-radius: 8px;
        outline: 0;
        &:focus {
          outline: 0;
          box-shadow: none;
        }
      }
      label {
        font-size: 13px;
        left: 2px;
        color: #666666;
      }

      .eye-icon {
        position: absolute;
        right: 18px;
        bottom: 20px;
        z-index: 10;
        cursor: pointer;
      }
    }

    .forget-password {
      font-size: 12px;
      line-height: 16px;
      width: 100%;
      margin-top: 12px;
      display: flex;
      justify-content: end;
      color: #666666;
    }
    .btn-submit {
      background: #25a0da;
      border-radius: 8px;
      padding: 12px 20px;
      font-size: 14px;
      line-height: 19px;
      color: #fafafa;
      outline: 0;
      border-color: #25a0da;
      width: 100%;
      margin-top: 95px;
    }
  }

  .register {
    font-size: 13px;
    line-height: 18px;
    color: #666666;
    margin-top: 32px;
    display: block;
    a {
      text-decoration: underline;
      color: #25a0da;
    }
  }
  .input-box {
    // width: 100%;
    // padding: 15px 17px;
    // background: #FAFAFA;
    // border: 1px solid #D8D8D8;
    // border-radius: 8px;
    // margin-top: 24px;
  }

  .sign-in {
    width: 100%;
    margin-top: 65px;
    background-color: #25a0da;
    font-weight: 500;
    font-size: 14px;
  }

  .psw-wraper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    margin-top: 24px;

    .input-box-password {
      width: 100%;
      padding: 15px 17px;
      background: #fafafa;
      border: 1px solid #d8d8d8;
      border-radius: 8px;
    }

    .eye-icon {
      position: absolute;
      margin-right: 14px;
      width: 15px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .registration-form {
    width: 360px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 38px 35px 20px 35px;
    margin-top: 55px;
    margin-right: 25px;
  }
}

@media (max-width: 768px) {
  .registration-form {
    width: 360px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 28px 25px 20px 25px;
    margin-top: 25px;
    margin-right: 0;
  }
}
