.home{
    display: flex;
    justify-content: space-between
}



@media (min-width: 768px) and (max-width: 1024px) {
  
    .home {
        width: 700px;
    }
    
  }
  @media  (max-width: 768px) {
  
    .home {

        display: flex;
        align-items: center;
        justify-content: space-evenly;
        
    }
    
  }